#############################
# SZABLON ZMIENNYCH ŚRODOWISKOWYCH
#############################



# ZMIENNE PODZIELONO NA 3 SEGMENTY:

# DOCKER COMPOSE - postawinie kontenera bazy:
# plik: docker-compose.yml
POSTGRES_USER = szwagi
POSTGRES_PASSWORD = zmien_mnie_na_cos_innego
POSTGRES_DB = szwagiair_db


# Python / SQLAlchemy -> kontener backend działa -> teraz połączenie z kontenerem 'db'
# plik: database.py 
DATABASE_URL = "postgresql://szwagi:zmien_mnie_na_cos_innego@db:5432/szwagiair_db"

# Zmienne dla JWT
# plik: auth_utils.py
SECRET_KEY = "wygeneruj_sobie_własny_klucz_kolego"